<%=form_tag('/upload-xml', method: 'post', multipart: true, class: 'uploader', id: 'file-upload-form') do %>
  <input id="file-upload" type="file" name="fileUpload" />
  <div id='upload-zone'>
    <label for="file-upload" id="file-drag">
        <div class="dropzone-msg">
          <div class='cloud-icon-wrapper'><%= image_tag 'cloud-icon.svg', class: 'cloud-icon' %></div>
          <p class='dropzone-msg'>Dovucite datoteku ili <span>Odaberite</span></p>
        </div>
    </label>
  </div>
  <div class='submit-btn'>
      <%= submit_tag 'Submit', id:'submit-button' %>
  </div>
  <div id='file-list-display'></div>
<% end %>
