@import "drag_and_drop";
@import "files_list";

#submit-button {
    margin-top: 10px;
}

@font-face {
  font-family: "MuseoSans";
  src: asset-url('MuseoSans.otf') format("opentype");
}

@font-face {
  font-family: "MuseoSans300";
  src: asset-url('MuseoSans300.otf') format("opentype");
}


@font-face {
  font-family: "MuseoSans500";
  src: asset-url('MuseoSans500.otf') format("opentype");
}